# General
*.plt
erl_crash.dump

# rebar/rebar3
.rebar
.eunit
rebar.lock
_build/

# erlang.mk
/.erlang.mk
/deps
ebin/*.beam
ebin/test
test/*.beam
/_rel
*.d

# Project specific
src/core_link_parser.erl
src/core_link_scanner.erl

