# General
*.plt
erl_crash.dump

# rebar/rebar3
.rebar
.eunit
rebar.lock
_build/

# erlang.mk
.erlang.mk
_rel
*.d
deps
*.beam
ebin/test
relx

# Project specific
src/ecoap_core_link_parser.erl
src/ecoap_core_link_scanner.erl
.vscode
