# General
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/
.concrete/DEV_MODE

# rebar/rebar3
.rebar
rebar.lock
_build/

# erlang.mk
.erlang.mk/
*.d
_rel/

# Project specific
src/core_link_parser.erl
src/core_link_scanner.erl

